@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');



*{
  margin: 0;
  padding: 0;
}

/* 

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.customFont{
  font-family: "Unbounded", sans-serif;
}

